INFERIA_LLM_API_KEY=""
NEXT_PUBLIC_INFERIA_LLM_URL="http://localhost:8001/v1"
NEXT_PUBLIC_SOLANA_NETWORK=mainnet

# Choose provider: 'inferia' or 'deepseek'
LLM_PROVIDER="deepseek"
DEEPSEEK_BASE_URL="https://api.deepseek.com/v1"
DEEPSEEK_API_KEY=""
